<template name="App_body">
  <div id="container" class="{{cordova}}">

    {{#unless connected}}
    <div class="notifications">
      <div class="notification">
        <span class="icon-sync"></span>
        <div class="meta">
          <div class="title-notification">Trying to connect</div>
          <div class="description">There seems to be a connection issue</div>
        </div>
      </div>
    </div>
    {{/unless}}

    <div>
      {{#if Template.subscriptionsReady}}
        {{> Template.dynamic template=main}}
      {{else}}
        {{> App_loading}}
      {{/if}}
    </div>
  </div>
</template>